body {
  background: #eee;
}

.ui-widget-content {
  border: 2px solid #B6B6B6;
}

.signal-transform-graph {
  background: #000;
}

.signal-control {
	width: 25%;
  float: left;
}

.signal-panel {
  padding: 0 8px;
}

.signal-control >.ui-widget-content{
  padding: 2px 4px;
}