<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/aristo.css" />
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
</head>
<body>
    <div id="app" class="container">
        <div class="tabs">
            <ul>
                <li><a href="#signalTransformTab">Input Signal Frequency Spectrum</a></li>
                <li><a href="#signalInputTab">Input Signal</a></li>
            </ul>
            <div id="signalTransformTab" class="signal-transform"></div>
            <div id="signalInputTab" class="signal-input"></div>
        </div>
        <div class="signal-panel">
            <div class="new signal-control">
                <div class="hero-unit">
                    <p>Add another signal!
                    <button class="btn btn-primary add">Add</button></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script id="signal_view_template" type="text/x-underscore-template">
    <div class="ui-widget-header">Signal #<%= id %></div>
    <div class="ui-widget-content">
    <label for="frequency_<%= id %>">Frequency</label>
    <input type="text" name="frequency" id="frequency_<%= id %>" value="<%= signal.get('frequency') %>" />
    <div class="frequency-slider"></div>
    <br />
    <label for="amplitude_<%= id %>">Amplitude</label>
    <input type="text" name="amplitude" id="amplitude_<%= id %>" value="<%= signal.get('amplitude') %>" />
    <div class="amplitude-slider"></div>
    <br />
    <div class="controls">
    <label>Waveform:</label>
    <% _.each(waveforms, function(waveformId, waveformName) { %>
        <label class="radio" for="waveform_<%= id %>_<%= waveformId %>"><%= waveformName %>
        <input type="radio"
            id="waveform_<%= id %>_<%= waveformId %>"
            name="waveform_<%= id %>"
            value="<%= waveformId %>"
            <%= signal.get('waveForm') === waveformId ? 'checked="checked"' : '' %> />
        </label>
    <% }); %>
    </div>
    </div>
</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-1.7.1.min.js"><\/script>')</script>
<script src="js/jquery-ui-1.8.18.custom.min.js"></script>
<script src="js/underscore.js"></script>
<script src="js/backbone.js"></script>
<script src="js/d3.js"></script>
<script src="js/dsp.js"></script>
<script src="js/script.js"></script>
<script>
    var appView = new TFFT.ApplicationView({
        el: $('#app')
    });
    appView.createSignal();
</script>
